.w-table

    &.w-table-loading
        > table
            > thead
                > tr
                    border-bottom-color: red


    .w-table-loading-indicator
        color: darkred
        border: 0 !important

    .w-table-buttons
        float: right
        button
            background-color: transparent
            border: solid 1px lightgrey
            margin: 0 0 2px 2px

            &:hover
                color: darkred

    .w-table-presenter
        float: left
        margin-bottom: 2px
        > div
            display: inline-block
            margin-right: 20px
            border-bottom: solid 1px grey
            padding: 3px
            &:hover
                border-bottom: solid 1px red

            > div
                display: inline-block
                margin-right: 5px
                &.caption
                &.value
                    font-weight: bold
                &.remove
                    color: darkred
                    cursor: pointer

                    &:hover
                        color: red

    > table
        //color: #111111
        border: solid 1px lightgrey
        width: 100%
        background-color: #A9A9A9

        .w-table-center
            text-align: center

        > thead
            background: linear-gradient(to bottom, #f7f7f7 0, #DFDFDF 100%)
            > tr

                border-bottom: solid 2px grey
                transition: color 2.25s
                > th
                    padding: 5px
                    padding-right: 0
                    font-weight: normal
                    //text-align: center
                    > i
                        margin-right: 10px

                    &:hover
                        background-color: lightgrey
                        cursor: pointer

                    .w-filter-openable
                        float: right
                        margin-top: -5px
                        margin-bottom: -5px
                        margin-right: 0

        > tbody
            max-height: 500px
            color: #111111
            > tr
                border-collapse: collapse

                > td

                    font-family: Arial, Verdana, Tahoma
                    border: 1px solid #e7efd3
                    padding: 6px
                    font-size: 12px
                    border-collapse: collapse

                    &:first-child
                        border-left: none
                    &:last-child
                        border-left: none

                    &.w-table-cell-clickable
                        cursor: pointer
                        &:hover
                            background-color: lightgrey

                    .w-table-cell-multi
                        margin-bottom: 5px
                        margin-top: 5px
                    .w-table-cell-multi:first-child
                        margin-top: 0
                    .w-table-cell-multi:last-child
                        margin-bottom: 0
                    .w-table-cell-date
                        +clearfix
                        > div
                            float: left

                        > div:nth-child(1)
                            width: 18px
                        > div:nth-child(2)
                            width: calc(100% - 18px)

            > tr:nth-child(even) > td
                //background-color: #f8faf2
                background-color: #f8faf2

            > tr:nth-child(odd) > td
                background-color: white

            > tr:hover > td
                background-color: #eaeaea

        > tfoot
            > tr
                > td

                    padding: 6px
                    background-color: #F5F5F5
                    padding-top: 0

                    .w-table-footer-drag
                        background-color: grey
                        height: 2px
                        cursor: row-resize
                        width: calc(100% + 12px)
                        margin-bottom: 5px
                        margin-left: -6px
                        user-select: none

                    .w-table-footer-all
                        float: left
                        font-size: 18px
                        line-height: 32px
                        span
                            font-weight: bold

                    .w-table-footer-pageinfo
                        float: right
                        font-size: 18px
                        line-height: 32px
                        margin: 0 20px 0 20px

                    .w-table-footer-onpage-select
                        float: right
                        select
                            font-size: 16px
                            margin-top: 6px

                    .w-table-pager
                        float: right
                        > div
                            border-radius: 3px
                            min-width: 27px
                            padding: 0 4px
                            height: 27px
                            text-align: center
                            line-height: 25px
                            cursor: pointer
                            display: inline-block

                            background-color: white
                            border: solid 1px lightgrey
                            margin: 2px
                            user-select: none
                            outline: 0
                            &:hover
                                color: darkred
                                border-color: darkred

                            &.w-table-pager-active
                                background-color: lightgrey
                                border-color: grey

        &.w-table-fixed

            width: 100%
            > thead
                width: calc(100% - 18px)
                display: table
                table-layout: fixed

            > tbody
                display: block
                width: 100%
                overflow-y: auto
                position: relative

                > tr
                    margin-top: -1px
                    display: table
                    table-layout: fixed
                    width: 100%

            > tfoot

                width: 100%
                display: table
                table-layout: fixed
                tr
                    display: table
                    table-layout: fixed
                    width: 100%