/*-------------------------
	Dropbox Element
--------------------------*/

.org-arrowplatform-media-dropbox{


    border-radius:3px;
    position: relative;
    margin:5px auto 5px;
    min-height: 50px;
    overflow: hidden;
    padding-bottom: 10px;
    width: 100%;
    border: solid 1px grey;


}

.org-arrowplatform-media-dropbox .message{
    font-size: 11px;
    text-align: center;
    padding-top:15px;
    display: block;
}

.org-arrowplatform-media-dropbox .message i{
    color:#ccc;
    font-size:10px;
}

.org-arrowplatform-media-dropbox:before{
    border-radius:3px 3px 0 0;
}

/*-------------------------
	Image Previews
--------------------------*/

.org-arrowplatform-media-dropbox .preview{
    width:185px;
    height: 140px;
    float:left;
    margin: 15px 0 0 10px;
    position: relative;
    text-align: center;
}

.org-arrowplatform-media-dropbox .preview img{
    max-width: 170px;
    max-height:100px;
    border:3px solid #fff;
    display: block;

    box-shadow:0 0 2px #000;
}

.org-arrowplatform-media-dropbox .imageHolder{
    display: inline-block;
    position:relative;
}

.org-arrowplatform-media-dropbox .uploaded{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background: url('./img/done.png') no-repeat center center rgba(255,255,255,0.5);
    display: none;
}

.org-arrowplatform-media-dropbox .preview.done .uploaded{
    display: block;
}

/*-------------------------
	Progress Bars
--------------------------*/

.org-arrowplatform-media-dropbox .progressHolder{
    position: absolute;
    background-color:#252f38;
    height:12px;
    width:100%;
    left:0;
    bottom: 0;

    box-shadow:0 0 2px #000;
}

.org-arrowplatform-media-dropbox .progress{
    background-color:#2586d0;
    position: absolute;
    height:100%;
    left:0;
    width:0;

    box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;

    -moz-transition:0.25s;
    -webkit-transition:0.25s;
    -o-transition:0.25s;
    transition:0.25s;
}

.org-arrowplatform-media-dropbox .preview.done .progress{
    width:100% !important;
}