
.w-filter-date
    >div
        position: relative
    float: right
    .w-filter-trigger
        margin: 0
        cursor: pointer
        padding: 6px
        border: solid 1px transparent
        &:hover
            background-color: lightgrey
            border: solid 1px grey


    .w-filter-body
        position: absolute
        background-color: white
        border: solid 1px lightgrey

    th &

        height: 100%


