.w-filter
    display: inline-block
    outline: none
    position: relative


    .w-filter-trigger
        margin: 0
        cursor: pointer
        padding: 5px
        border: solid 1px transparent
        position: relative
        z-index: 10
        &:hover
            background-color: lightgrey
            border: solid 1px grey

    .w-filter-body
        box-shadow: 0 0px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23)
        position: absolute
        width: 330px
        background-color: white
        border: solid 1px #c5c5c5
        display: none
        z-index: 5
        padding: 0 10px 10px
        i
            font-size: 18px
            font-weight: lighter
            margin-left: 5px

        .w-filter-apply
            border: solid 1px lightgrey
            padding: 6px
            width: calc(100%)
            background-color: #eeeeee
            margin-top: 10px
            &:hover
                background-color: #dbdbdb

    &.w-filter-opened
        z-index: 20
        box-shadow: 0 0px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23)
        .w-filter-trigger
            background-color: white
            border: solid 1px #c5c5c5
            border-bottom: none

        .w-filter-body
            display: block
            margin-top: -1px

    th &

        height: 100%


    @import "DateFilter"
    @import "SelectFilter"
    @import "NumericFilter"
    @import "SwitchFilter"
    @import "TextFilter"